*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

a:link {
    color: burlywood
  }
  
  a:visited {
    color: burlywood
  }
  
  a:hover {
    color: bisque
  }
  
  a:active {
    color: red;
  }
  
  a:link, a:visited {
    text-decoration: none;
  }

  .title-bg {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.5);
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.t-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.title-mrt {
    color: burlywood;
    font-size: 1.8vw;
    text-align: center;
    text-shadow: 0 0 5px burlywood;
    letter-spacing: 0.3cm;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 175vh;
    height: 0.1vw;
    background-color: rgba(222, 184, 135, 0.597);
    border: none;
}

.title-i p {
    color: bisque;
    font-size: 19px;
    text-align: center;
    top: 50%;
    left: 50%;
    letter-spacing: 0.03cm;
}

.map-m {
    text-align: center;
    align-items: center;
    font-size: 25px;
    background-color: rgba(255, 228, 196, 0.8);
    color: rgb(0, 0, 0);
    box-shadow: 4px 7px 15px rgba(255, 227, 194, 1);
}

.map-bg {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.ma-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.map-i {
    text-align: center;
    padding: 100px 0;
}

.members-mju {
    text-align: center;
    align-items: center;
    font-size: 25px;
    background-color: rgba(255, 228, 196, 0.8);
    color: rgb(0, 0, 0);
    box-shadow: 4px 7px 15px  rgba(255, 228, 196, 1);
}

.members-bg {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.m-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.members-i {
    text-align: center;
    padding: 100px 0;
}

.members-i table {
    background-color: rgba(0, 0, 0, 0.412);
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 77vh;
    height: 60vh;
    border-collapse: collapse;
}

.members-t table {
    background-color: rgba(0, 0, 0, 0.412);
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 84vh;
    height: 6vh;
    border-collapse: collapse;
    padding: 100vh;
}

.drivers-dnp {
    text-align: center;
    align-items: center;
    font-size: 25px;
    background-color: rgba(255, 228, 196, 0.8);
    color: rgb(0, 0, 0);
    box-shadow: 4px 7px 15px rgba(255, 228, 196, 1);
}

.drivers-bg {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.d-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.drivers-i {
    text-align: center;
    padding: 100px 0;
}

.drivers-i table {
    background-color: rgba(0, 0, 0, 0.412);
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 77vh;
    height: 60vh;
    border-collapse: collapse;
    align-items: center;
}

.assistance-anfm {
    text-align: center;
    align-items: center;
    font-size: 25px;
    background-color: rgba(255, 228, 196, 0.8);
    color: rgb(0, 0, 0);
    box-shadow: 4px 7px 15px rgba(255, 228, 196, 1);
}

.assistance-bg {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.7);
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.a-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.assistance-s {
    text-align: center;
    color: bisque;
    text-align: center;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 24px;
    letter-spacing: 0.07cm;
}

.assistance-t {
    margin-left: 25%;
    color: bisque;
    text-align: center;
    padding: 15px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 24px;
    letter-spacing: 0.07cm;
}

.assistance-i {
    margin-left: 28%;
    color: beige;
    text-align: center;
    padding: 5px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 22px;
}

.assistance-e {
    text-align: center;
    font-size: 28px;
    color: bisque;
    text-align: center;
    padding: 35px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    letter-spacing: 0.04cm;
}

.guidelines-g {
    text-align: center;
    align-items: center;
    font-size: 25px;
    background-color: rgba(255, 228, 196, 0.8);
    color: rgb(0, 0, 0);
    box-shadow: 4px 7px 15px rgba(255, 228, 196, 1);
}

.guidelines-bg {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.g-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.guidelines-i {
    text-align: center;
    color: bisque;
    text-align: center;
    padding: 100px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 30px;
    letter-spacing: 0.09cm;
}

.vehicules-rtv {
    text-align: center;
    align-items: center;
    font-size: 25px;
    background-color: rgba(255, 228, 196, 0.8);
    color: rgb(0, 0, 0);
    box-shadow: 4px 7px 15px rgba(255, 228, 196, 1);
}

.vehicules-bg {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.7);
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.v-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.vehicules-i h4 {
    text-align: center;
    color: bisque;
    text-align: center;
    padding: 5px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 40px;
}

.vehicules-i h5 {
    text-align: center;
    color: bisque;
    text-align: center;
    padding: 16px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 19px;
}

.others-o {
    text-align: center;
    align-items: center;
    font-size: 25px;
    background-color: rgba(255, 228, 196, 0.8);
    color: rgb(0, 0, 0);
    box-shadow: 4px 7px 15px rgba(255, 228, 196, 1);
}

.others-bg {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.7);
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.o-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.others-i {
    text-align: center;
    padding: 100px 0;
}


.others-i h5  {
    text-align: center;
    color: bisque;
    text-align: center;
    padding: 100px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 26px;
    letter-spacing: 0.07cm;
}

.extras-e {
    text-align: center;
    align-items: center;
    font-size: 25px;
    background-color: rgba(255, 228, 196, 0.8);
    color: rgb(0, 0, 0);
    box-shadow: 4px 7px 15px rgba(255, 228, 196, 1);
}

.extras-bg {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 200px 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.e-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.extras-i {
    text-align: center;
    padding: 100px 0;
}


.extras-i h4 {
    text-align: center;
    color: bisque;
    text-align: center;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 40px;
    letter-spacing: 0.09cm;
}

.bonuses-b {
    text-align: center;
    align-items: center;
    font-size: 25px;
    background-color: rgba(255, 228, 196, 0.8);
    color: rgb(0, 0, 0);
    box-shadow: 4px 7px 15px rgba(255, 228, 196, 1);
}

.bonuses-bg {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.b-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.bonuses-i {
    text-align: center;
    padding: 100px 0;
}

.bonuses-i h4 {
    text-align: center;
    color: bisque;
    text-align: center;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 50px;
}

.bonuses-i p {
    text-align: center;
    color: bisque;
    text-align: center;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 0.8cm

}

.map {
    text-align: center;
    color: bisque;
    text-align: center;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
}


















@media only screen and (max-width: 768px) {
    /* Modify font sizes and paddings for smaller screens */
    .title-bg {
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0,0,0,0.5);
        position: relative;
        overflow: hidden;
        min-height: 100vh;
    }
    
    .t-bg {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }
    
    .title-mrt {
        color: burlywood;
        font-size: 88%;
        text-align: center;
        text-shadow: 0 0 5px burlywood;
        letter-spacing: 0.2cm;
    }
    
    hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        width: 43vh;
        height: 0.1vw;
        background-color: rgba(222, 184, 135, 0.597);
        border: none;
    }
    
    .title-i p {
        color: bisque;
        font-size: 15px;
        text-align: center;
        top: 50%;
        left: 50%;
        letter-spacing: 0.03cm;
    }
    
    .map-m {
        text-align: center;
        align-items: center;
        font-size: 15px;
        background-color: rgba(255, 228, 196, 0.8);
        color: rgb(0, 0, 0);
        box-shadow: 4px 7px 15px rgba(255, 227, 194, 1);
    }
    
    .map-bg {
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0,0,0,0.5);
        padding: 100px 0;
        position: relative;
        overflow: hidden;
        min-height: 100vh;
    }
    
    .ma-bg {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }
    
    .map-i {
        text-align: center;
        padding: 100px 0;
    }

    .map-i iframe {
        height: 640px;
        width: 340px;
    }
    
    .members-mju {
        text-align: center;
        align-items: center;
        font-size: 15px;
        background-color: rgba(255, 228, 196, 0.8);
        color: rgb(0, 0, 0);
        box-shadow: 4px 7px 15px  rgba(255, 228, 196, 1);
    }
    
    .members-bg {
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0,0,0,0.5);
        padding: 100px 0;
        position: relative;
        overflow: hidden;
        min-height: 100vh;
    }
    
    .m-bg {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }
    
    .members-i {
        text-align: center;
        padding: 100px 0;
    }
    
    .members-i table {
        background-color: rgba(0, 0, 0, 0.412);
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 40vh;
        height: 80vh;
        border-collapse: collapse;
    }
    
    .members-t table {
        background-color: rgba(0, 0, 0, 0.412);
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 40vh;
        height: 6vh;
        border-collapse: collapse;
        padding: 100vh;
    }
    
    .drivers-dnp {
        text-align: center;
        align-items: center;
        font-size: 15px;
        background-color: rgba(255, 228, 196, 0.8);
        color: rgb(0, 0, 0);
        box-shadow: 4px 7px 15px rgba(255, 228, 196, 1);
    }
    
    .drivers-bg {
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0,0,0,0.5);
        padding: 100px 0;
        position: relative;
        overflow: hidden;
        min-height: 100vh;
    }
    
    .d-bg {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }
    
    .drivers-i {
        text-align: center;
        padding: 100px 0;
    }
    
    .drivers-i table {
        background-color: rgba(0, 0, 0, 0.412);
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 40vh;
        height: 80vh;
        border-collapse: collapse;
        align-items: center;
    }
    
    .assistance-anfm {
        text-align: center;
        align-items: center;
        font-size: 15px;
        background-color: rgba(255, 228, 196, 0.8);
        color: rgb(0, 0, 0);
        box-shadow: 4px 7px 15px rgba(255, 228, 196, 1);
    }
    
    .assistance-bg {
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0,0,0,0.7);
        padding: 100px 0;
        position: relative;
        overflow: hidden;
        min-height: 100vh;
    }
    
    .a-bg {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }
    
    .assistance-s {
        text-align: center;
        color: bisque;
        text-align: center;
        padding: 20px 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-collapse: collapse;
        font-size: 19px;
        letter-spacing: 0.07cm;
    }
    
    .assistance-t {
        margin-left: 25%;
        color: bisque;
        text-align: center;
        padding: 15px 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-collapse: collapse;
        font-size: 23px;
        letter-spacing: 0.07cm;
    }
    
    .assistance-i {
        margin-left: 28%;
        color: beige;
        text-align: center;
        padding: 5px 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-collapse: collapse;
        font-size: 16px;
    }
    
    .assistance-e {
        text-align: center;
        font-size: 19px;
        color: bisque;
        text-align: center;
        padding: 35px 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-collapse: collapse;
        letter-spacing: 0.04cm;
    }
    
    .guidelines-g {
        text-align: center;
        align-items: center;
        font-size: 15px;
        background-color: rgba(255, 228, 196, 0.8);
        color: rgb(0, 0, 0);
        box-shadow: 4px 7px 15px rgba(255, 228, 196, 1);
    }
    
    .guidelines-bg {
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0,0,0,0.5);
        padding: 100px 0;
        position: relative;
        overflow: hidden;
        min-height: 100vh;
    }
    
    .g-bg {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }
    
    .guidelines-i {
        text-align: center;
        color: bisque;
        text-align: center;
        padding: 100px 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-collapse: collapse;
        font-size: 30px;
        letter-spacing: 0.09cm;
    }
    
    .vehicules-rtv {
        text-align: center;
        align-items: center;
        font-size: 15px;
        background-color: rgba(255, 228, 196, 0.8);
        color: rgb(0, 0, 0);
        box-shadow: 4px 7px 15px rgba(255, 228, 196, 1);
    }
    
    .vehicules-bg {
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0,0,0,0.7);
        padding: 100px 0;
        position: relative;
        overflow: hidden;
        min-height: 100vh;
    }
    
    .v-bg {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }
    
    .vehicules-i h4 {
        text-align: center;
        color: bisque;
        text-align: center;
        padding: 5px 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-collapse: collapse;
        font-size: 35px;
    }
    
    .vehicules-i h5 {
        text-align: center;
        color: bisque;
        text-align: center;
        padding: 16px 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-collapse: collapse;
        font-size: 17px;
    }
    
    .others-o {
        text-align: center;
        align-items: center;
        font-size: 15px;
        background-color: rgba(255, 228, 196, 0.8);
        color: rgb(0, 0, 0);
        box-shadow: 4px 7px 15px rgba(255, 228, 196, 1);
    }
    
    .others-bg {
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0,0,0,0.7);
        padding: 100px 0;
        position: relative;
        overflow: hidden;
        min-height: 100vh;
    }
    
    .o-bg {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }
    
    .others-i {
        text-align: center;
        padding: 100px 0;
    }
    
    
    .others-i h5  {
        text-align: center;
        color: bisque;
        text-align: center;
        padding: 100px 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-collapse: collapse;
        font-size: 20px;
        letter-spacing: 0.07cm;
    }
    
    .extras-e {
        text-align: center;
        align-items: center;
        font-size: 15px;
        background-color: rgba(255, 228, 196, 0.8);
        color: rgb(0, 0, 0);
        box-shadow: 4px 7px 15px rgba(255, 228, 196, 1);
    }
    
    .extras-bg {
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0,0,0,0.5);
        padding: 200px 0;
        position: relative;
        overflow: hidden;
        min-height: 100vh;
    }
    
    .e-bg {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }
    
    .extras-i {
        text-align: center;
        padding: 100px 0;
    }
    
    
    .extras-i h4 {
        text-align: center;
        color: bisque;
        text-align: center;
        padding: 20px 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-collapse: collapse;
        font-size: 26px;
        letter-spacing: 0.15cm;
    }
    
    .bonuses-b {
        text-align: center;
        align-items: center;
        font-size: 15px;
        background-color: rgba(255, 228, 196, 0.8);
        color: rgb(0, 0, 0);
        box-shadow: 4px 7px 15px rgba(255, 228, 196, 1);
    }
    
    .bonuses-bg {
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(0,0,0,0.5);
        padding: 100px 0;
        position: relative;
        overflow: hidden;
        min-height: 100vh;
    }
    
    .b-bg {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }
    
    .bonuses-i {
        text-align: center;
        padding: 100px 0;
    }
    
    .bonuses-i h4 {
        text-align: center;
        color: bisque;
        text-align: center;
        padding: 10px 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-collapse: collapse;
        font-size: 40px;
        letter-spacing: 6px;
    }
    
    .bonuses-i p {
        text-align: center;
        color: bisque;
        text-align: center;
        padding: 10px 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-collapse: collapse;
        font-size: 25px;
        letter-spacing: 3px;
    
    }
    
}
