*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

a:link {
    color: burlywood
  }
  
  a:visited {
    color: burlywood
  }
  
  a:hover {
    color: bisque
  }
  
  a:active {
    color: red;
  }
  
  a:link, a:visited {
    text-decoration: none;
  }

.title-bg {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.5);
    position: relative;
    overflow: hidden;
    min-height: 100vh;

}

.tbg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.title {
    color: burlywood;
    font-size: 39px;
    text-align: center;
    text-shadow: 0 0 5px burlywood;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 150vh;
    height: 4px;
    background-color: rgba(222, 184, 135, 0.597);
    border: none;
    box-shadow: 0 0 5px burlywood;
}

.tinfo p {
    color: bisque;
    font-size: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
}

.mju {
    text-align: center;
    align-items: center;
    font-size: 3vw;
    background-color: bisque;
    color: rgb(0, 0, 0);
    box-shadow: 4px 7px 15px bisque;
}

.members-bg {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.4);
    padding: 200px 0;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.mbg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.members {
    text-align: center;
}

.members table {
    background-color: rgba(0, 0, 0, 0.412);
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80vh;
    height: 30vh;
}

.Total table {
    background-color: rgba(0, 0, 0, 0.412);
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80vh;
    height: 5vh;
}

.drivers h2 {
    font-size: 30px;
    background-color: black;
    color: beige;
    box-shadow: 4px 7px 15px black;
}

.drivers {
    text-align: center;
}

.drivers table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

.Assistance h2 {
    font-size: 30px;
    background-color: black;
    color: beige;
    box-shadow: 4px 7px 15px black;
}

.Assistance {
    text-align: center;
    font-size: 100%;
}

.assistance {
    text-align: center;
}

.ass3 {
    margin-left: 25%;
}

.inf {
    margin-left: 28%;
}

.best {
    text-align: center;
    font-size: 100%;
}

.Guidelines h2 {
    font-size: 30px;
    background-color: black;
    color: beige;
    box-shadow: 4px 7px 15px black;
}

.Guidelines {
    text-align: center;
}

.guid {
    text-align: center;
    font-size: 135%;
}

.vehicules h2 {
    font-size: 30px;
    background-color: black;
    color: beige;
    box-shadow: 4px 7px 15px black;
}

.vehicules {
    text-align: center;
}

.cars h4 {
    font-size: 120%;
    text-align: center;
}

.cars {
    text-align: center;
    font-size: 111%;
}

.Others h2 {
    font-size: 3Opx;
    background-color: black;
    color: beige;
    box-shadow: 4px 7px 15px black;
}

.Others {
    text-align: center;
}


.oth {
    text-align: center;
    font-size: 135%;
}

.extras h2 {
    font-size: 30px;
    background-color: black;
    color: beige;
    box-shadow: 4px 7px 15px black;
}

.extras {
    text-align: center;
}

.ext {
    text-align: center;
    font-size: 135%;
}

.bon {
    text-align: center;
    font-size: 135%;
}

.Bonuses h2 {
    font-size: 30px;
    background-color: black;
    color: beige;
    box-shadow: 4px 7px 15px black;
}

.Bonuses {
    text-align: center;
}
